<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860421437189-33epjatife1pg48c8clu210o97vi2egv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860421437189-33epjatife1pg48c8clu210o97vi2egv</string>
	<key>API_KEY</key>
	<string>AIzaSyBbbev23VOm7ZLfWSPhJ4M5pZ5NnXSZbXI</string>
	<key>GCM_SENDER_ID</key>
	<string>860421437189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.projetoControleFinanceiro</string>
	<key>PROJECT_ID</key>
	<string>controle-financeiro-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>controle-financeiro-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860421437189:ios:74fd8dc2e34d9ded68696c</string>
</dict>
</plist>